## Notebook for transforming raw cpdata to Mergable data

### Filter cpdata.csv to MergeFileCrop.cv
### Filter fertilizer.csv to MergerFileFert.csv

In [1]:
import pandas as pd

In [2]:
# Reading the data 

crop_data_path = 'cpdata.csv'
fertilizer_data_path = 'Fertilizer Prediction.csv'

crop = pd.read_csv(crop_data_path)
fert = pd.read_csv(fertilizer_data_path)

In [3]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [4]:
fert.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [5]:
# Function for lowering the cases
def change_case(i):
    i = i.replace(" ", "")
    i = i.lower()
    return i

In [6]:
fert['Fertilizer Name'] = fert['Fertilizer Name'].apply(change_case)
crop['label'] = crop['label'].apply(change_case)

In [7]:
#make some changes in ferttilizer dataset

fert['Crop Type'] = fert['Crop Type'].replace('mungbeans','mungbean')
fert['Crop Type'] = fert['Crop Type'].replace('lentils(masoordal)','lentil')
fert['Crop Type'] = fert['Crop Type'].replace('pigeonpeas(toordal)','pigeonpeas')
fert['Crop Type'] = fert['Crop Type'].replace('mothbean(matki)','mothbeans')
fert['Crop Type'] = fert['Crop Type'].replace('chickpeas(channa)','chickpea')

In [8]:
crop.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [9]:
crop.tail()

      temperature   humidity        ph   rainfall       label
3095    25.287846  89.636679  6.765095  58.286977  watermelon
3096    26.638386  84.695469  6.189214  48.324286  watermelon
3097    25.331045  84.305338  6.904242  41.532187  watermelon
3098    26.897502  83.892415  6.463271  43.971937  watermelon
3099    26.986037  89.413849  6.260839  58.548767  watermelon

In [10]:
crop_names = crop['label'].unique()
crop_names

array(['rice', 'wheat', 'mungbean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'groundnut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidneybeans', 'mothbeans', 'coconut',
       'blackgram', 'adzukibeans', 'pigeonpeas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [11]:
fert.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,urea
1,29,52,45,Loamy,Sugarcane,12,0,36,dap
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,urea

In [12]:
#del fert['Unnamed: 0']

In [13]:
crop_names_from_fert = fert['Crop Type'].unique()
crop_names_from_fert

array(['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
       'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'],
      dtype=object)

In [14]:
for crop_type in crop_names_from_fert:
    if crop_type in crop_names:
        print(crop[crop['label'] == crop_type])

In [15]:
crop['label']

0             rice
1             rice
2             rice
3             rice
4             rice
           ...
3095    watermelon
3096    watermelon
3097    watermelon
3098    watermelon
3099    watermelon
Name: label, Length: 3100, dtype: object

In [16]:
extract_labels = []
for i in crop_names_from_fert:
    if i in crop_names:
        extract_labels.append(i)

In [17]:
new_crop = crop[crop['label'].isin(extract_labels)]
new_fert = fert[fert['Crop Type'].isin(extract_labels)]

In [18]:
for label in extract_labels:
    new_crop = new_crop.append(crop[crop['label'] == label])

In [19]:
for label in extract_labels:
    new_fert = new_fert.append(fert[fert['Crop Type'] == label].iloc[0])

In [20]:
new_crop

Empty DataFrame
Columns: [temperature, humidity, ph, rainfall, label]
Index: []

In [21]:
new_fert

Empty DataFrame
Columns: [Temparature, Humidity , Moisture, Soil Type, Crop Type, Nitrogen, Potassium, Phosphorous, Fertilizer Name]
Index: []

In [22]:
# Save to CSV
new_fert.to_csv('Data-raw\FertilizerData.csv', index=False)

<>:2: SyntaxWarning: invalid escape sequence '\F'
<>:2: SyntaxWarning: invalid escape sequence '\F'
C:\Users\ykhed\AppData\Local\Temp\ipykernel_15468\4026145999.py:2: SyntaxWarning: invalid escape sequence '\F'
  new_fert.to_csv('Data-raw\FertilizerData.csv', index=False)